@import '@fortawesome/fontawesome-svg-core/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0% {
    border-color: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    border-color: #8c8c8c;
    box-shadow: 0 0 0 20px rgba(140, 140, 140, 0);
  }
  100% {
    border-color: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.pulsate {
  animation: pulse 2s infinite;
}
